.main {
    background-color: rgb(15, 15, 15);
    color: rgb(134, 130, 125)
}

.jumbotron.title-area {
    background-color: black;
    font-size: 6rem;
}

#checklist-container {
    display: flex;
    flex-direction: column;
}

.task-box {
    padding: 4px 12px;
    margin: 2px;
    color: orange;
}

.task-box-mainline {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.task-date {
    font-family: cursive;
    font-size: 11px;
    color: rgb(173, 173, 173);
    margin
}

.task-box.complete {
    color: rgb(170, 161, 151);
    text-decoration: line-through;
}

.task-box input {
    width: 90%;
    background-color: black;
    border-style: none;
    color: rgb(134, 130, 125);
}