:root {
    --hero-color: rgb(146, 216, 105);
    --hero-color-fade: rgba(146, 216, 105, .7);
    --secondary-color: rgb(134, 130, 125);
    --date-color: rgb(100, 100, 100);
}

.main {
    background-color: rgb(15, 15, 15);
    color: rgb(134, 130, 125);
    font-family: 'Raleway', sans-serif;
}

.jumbotron.title-area {
    background-color: black;
    text-align: center;
    font-size: 7rem;
    font-family: 'Rock Salt', cursive;
    color: var(--hero-color);

    /* the default jumbotron padding is just a bit too much */
    padding: 40px 32px;
}

.jumbotron p, .task-box-mainline p{
    margin: 0;
}

.subtitle {
    font-size: 16px;
    color: var(--secondary-color);
}

#checklist-container {
    max-width: 750px;
    display: flex;
    flex-direction: column;
}

.task-box {

    padding: 8px 8px 8px 32px;
    /* padding: 8px 32px; */
    margin: 2px;

    font-size: 16px;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);

    color: var(--hero-color);
    transition: .2s;
    transform: skewX(-12deg);

}

.task-box.hover {
    border-color: var(--hero-color-fade);
    transform: translateY(-2px) skewX(-12deg);
    background-color: black;
}

.task-box.active {
    background-color: blue;
}

.task-box-mainline {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.task-box-mainline p {
    width: 85%;
}

.task-date {
    font-size: 11px;
    color: var(--date-color);
}

.task-box.complete {
    color: var(--secondary-color);
}

.task-box.task-box.complete p {
    text-decoration: line-through;
}

.task-box input {
    width: 90%;
    background-color: black;
    border-style: none;
    color: rgb(134, 130, 125);
}

.task-box button {

    align-self: flex-end;
    width: 75px;
    height: 25px;
    text-align: center;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border-style: dotted;
    border-width: 1px;
    border-color: var(--hero-color);
    color: var(--hero-color);
    transition: .15s;
}

button:hover {
    background-color: var(--hero-color);
    border-color: rgba(0, 0, 0, 0);
    color: black;
    transform: translateY(-2px) scale(1.05);
}

button:active {
    transform: translateY(1px);
}

button:focus {
    border-style: solid;
    outline: 0;
}

.footer {
    margin: 24px 0px 0px 0px;
    padding: 70px 40px;
    background-color: black;
    width: 100%;
    font-size: 12px;
}